<!DOCTYPE html>
<html lang="en">
<head>
  <title>A Basic HTML5 Template</title>
</head>

<body>
  <form method="post">
      <center><font color="white">You: 
              <input type="text" name="user_input" 
              placeholder="Start a conversation" size="91">
              </font></center>
        <br>
  </form>
  <center>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<form method="post">
    <center><font color="white">Chatbot 
            <input type="text" name="dialog_box" size="91"
            value="{{ bot_response }}">
            </font></center>
      <br>
</form> 

</body>
</html>